body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

.navbar{
    background-color: rgb(141, 141, 141);
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 5%;
    justify-content: space-between;
    
}

.navbar h1{
    font-family:'Times New Roman', Times, serif, cursive;
    font-size: 40px;
}

.navbar a{
    color: #000;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    gap: 40px;
    font-size: 20px;

}

.header{
    background: url(../gambar/Elektronik.jpg);
    background-size: cover;
    height: 200%;
    padding-left: 10%;
    padding-right: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;

    
}

.header h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

.header p{
    font-size : 30px;
    color: #000;
}

.tagline{
    display: flex;
    flex-direction: column;
}

.tagline span{
    font-family: 'Kristi', cursive;
    font-size: 60px;
    color: #000;
}

.main{
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
    background-color:white;
}

.section{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    
    border-radius: 20px;
    font-weight: bold;
    gap: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
}

.section-con{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contents{
    padding-top :15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.about{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align:left;
    border-top: rgba(0, 0, 0, 0.2) solid;
    font-size: 25px;
}

.about h3{
    font-size: 50px;
    color: #000000;
}

.about span{
    color: #000000;
    font-weight: bold;
}

.footer{
    padding-left: 10%;
    padding-right: 10%;
    border-top: rgba(141, 141, 141, 0.2) solid;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fot-list img{
    display: flex;
    padding: 20px;
}

@media only screen and (max-width: 400px) {

    body{
        height:auto;
    }
    .header{
        flex-wrap: wrap;
        height: auto;
        font-size: small;
    }

    .header img{
        width: 200px;
        height: 200px;
        align-items: center;
    }

    .contents h2{
        text-align: center;
    }

    .navbar{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .nav-menu{
        flex-wrap: wrap;
    }
    .section-con{
        flex-wrap: wrap;
    }

    .main{
        height: auto;
        padding: auto;
        margin-bottom: auto;
        box-sizing: border-box;
        margin: 0px;
    }
}